/* .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: green;
  color: white;
} */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #014406;
  color: white;
}

ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navLinks a {
  color: white;
  text-decoration: none;
}

.navLinks a:hover {
  /* text-decoration: underline; */
  color: #ffd700;
}

/* 🔥 Active link styling */
.navinks a.active {
  /* background-color: #61dafb; */
  color: #ffd700;
}

.language h3 {
  font-size: 16px;
  /* color: #666; */
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 4px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  transition: all 0.3s ease;
}

/* Mobile view */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .navLinks {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    transform: translateY(-200%);
    z-index: 10;
  }

  .navLinks.active {
    transform: translateY(0);
  }

  .language {
    display: none;
  }
}
