.btn-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 42px 50px;
}

@media (max-width: 768px) {
  .btn-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 42px 20px;
  }
}
