.heroContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../../assets/img/hero-img.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white; /* Text color on the image */
  padding: 99px 0px;
  border-radius: 8px;
  width: 100vw;
  overflow: hidden;
  margin: -2rem;
  border: none;
  max-height: 50vh;
  text-align: center;
  gap: 20px; /* Space between child elements */
  z-index: 1; /* Ensure the content appears above the overlay */
  position: relative; /* Necessary for positioning the overlay */
  max-width: 100vw; /* Avoids any horizontal overflow */
  overflow-x: hidden; /* Prevents image overflow */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #014406b2; /* Greenish color with opacity */
  z-index: 1;
}

.heroContent {
  z-index: 2;
  text-align: center;
}

/* .heroContent h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
} */

.heroHeader {
  font-size: 2.5rem;
  font-weight: bold;
  color: white; /* Text color on the image */
  z-index: 2;
  /* margin-bottom: 20px; */
}

.heroContent p {
  font-size: 1.2rem;
  color: white; /* A lighter color for the description text */
  margin-bottom: 30px;
  max-width: 600px;
  z-index: 2;
}

input[type="text"] {
  width: 100%;
  max-width: 400px;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 1rem;
  z-index: 2;
}

input[type="text"]:focus {
  outline: none;
  border-color: #000000; /* Change border color on focus */
  z-index: 2;
}

.btn {
  background-color: #014406;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1rem;
  transition: background-color 0.3s ease;
  z-index: 2;
}

.btn:hover {
  background-color: #164b1a; /* Darken button color on hover */
}
